.container {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
    --xs-width: 90vw;
    --mobile-width: 23rem;
}

.flex-responsive {
    display: flex;
    flex-direction: column;
}

main.flex-responsive {
    align-items: center;
    gap: 1.5rem;
}

@media screen and (min-width: 1440px) {
    main.flex-responsive {
        align-items: stretch;
        justify-content: space-evenly;
        gap: 2rem;
    }
}

.flex-margin {
    flex: 1 1 30%;
}

.text-align {
    text-align: center;
}

body>.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-size: 2.13rem;
    color: var(--primary-color--dark);
}

h1+p {
    color: var(--primary-color);
    font-weight: 500;
}

@media screen and (min-width: 1440px) {
    .flex-responsive {
        flex-direction: row;
    }
    .text-align {
        text-align: left;
    }
}


/* RATING */

#top {
    margin-top: 20vh;
}

.ratings__container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10vh;
}

.rating__container {
    background-color: var(--primary-color--light);
    border-radius: 5px;
    width: var(--xs-width);
    aspect-ratio: 4 / 1;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 425px) {
    .rating__container {
        width: var(--mobile-width);
        aspect-ratio: 9 / 2;
    }
}

@media screen and (min-width: 1440px) {
    .ratings__container {
        --ratings-inline-margin: 2.5rem;
    }
    .rating__container:nth-child(1) {
        margin-right: calc(var(--ratings-inline-margin) * 2);
    }
    .rating__container:nth-child(2) {
        margin-inline: var(--ratings-inline-margin);
    }
    .rating__container:nth-child(3) {
        margin-left: calc(var(--ratings-inline-margin) * 2);
    }
    .rating__container {
        justify-content: left;
        gap: 2rem;
        width: 30vw;
        aspect-ratio: 8 / 1;
        padding-left: 2rem;
    }
}

.rating__desc {
    color: var(--primary-color--dark);
    font-weight: 700;
    font-size: .87rem;
}


/* @media screen and (min-width: 1440px) {
    .rating__desc {
        padding-right: 4rem;
    }
} */

.star__container {
    display: flex;
    gap: .5rem;
}


/* REVIEW */

@media screen and (min-width: 1440px) {
    main {
        --review-block-margin: 1.25rem;
    }
    .review__container:nth-child(1) {
        margin-bottom: calc(var(--review-block-margin) * 2);
    }
    .review__container:nth-child(2) {
        margin-block: var(--review-block-margin);
    }
    .review__container:nth-child(3) {
        margin-top: calc(var(--review-block-margin) * 2);
    }
}

.review__container {
    background-color: var(--primary-color--dark);
    font-size: .87rem;
    line-height: 1rem;
    padding-inline: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: var(--xs-width);
    border-radius: 8px;
}

@media screen and (min-width: 425px) {
    .review__container {
        width: var(--mobile-width);
    }
}

.review__detail {
    display: flex;
}

.review__detail>img {
    border-radius: 5rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
}

.review__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    margin-left: 1.5rem;
}

.review__title--name,
.review__text {
    color: white;
}

.review__title--name {
    font-weight: 700;
}

.review__title--role {
    color: var(--secondary-color);
}

.review__text {
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: 1.47rem;
}


/* FOOTER */

footer {
    margin-bottom: 2rem;
    margin-top: 5rem;
}